<input type="radio" value="" name="continent">All
<input type="radio" value="Asia" name="continent">Asia
<input type="radio" value="America" name="continent">America
<input type="radio" value="Japan" name="continent">Japan