<form id="car_form" action="/cars/" method="post" accept-charset="utf-8">
    <fieldset>
        <div class="line" >
            <label for="model">{{model}}</label>
            <input type="text" name="model" value="">
        </div>
        <div class="line" >
            <label for="price">{{price}}</label>
            <input type="text" name="price" value="">
        </div>
        <div class="line" >
            <label for="image">{{image}}</label>
            <input type="text" name="image" value="">
        </div>
        <div class="line" >
            <label for="continent">{{continent}}</label>
            <input type="text" name="continent" value="">
        </div>
        <input type="submit" value="{{submit}}">
    </fieldset>
</form>